/* About Page */

.storeInfo {
  margin: 100px auto 0;
}
.storeInfo img {
  margin: 0 auto;
  height: 60%;
  width: auto;
}
.storeInfo p {
  padding-top: 40px;
}

.aboutFooter .container-fluid {
  margin-top: -100px;
}
