@import "config";
%articleTem {
  position: relative;
  margin: 160px auto;
  text-align: center;
  img {
    width: 80%;
    margin: auto auto;
  }

  .content {
    text-align: left;
    margin: auto auto;
    padding-left: 80px;
    span {
      color: $priColor;
    }
  }
  .articleDetail {
    margin: 40px auto;
  }
}
/* articles */
.articles {
  .eventArticle {
    @extend %articleTem;
  }
  .blogArticle {
    @extend %articleTem;
  }
  @media (max-width: 767px) {
    .eventArticle,
    .blogArticle {
      img {
        width: 60%;
      }
      .content {
        text-align: center;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
        .blackBar {
          position: relative;
          margin-left: 35%;
        }
      }
    }
    .blogArticle {
      img {
        margin-top: 30px;
      }
    }
  }
  @media (max-width: 911px) {
    .eventArticle,
    .blogArticle {
      img {
        // padding-top: 30px;
        // padding-left: 30px;
      }
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
  }
  @media (max-width: 587px) {
    margin-top: -220px;
    .eventArticle,
    .blogArticle {
      .content {
      }
    }
    .blogArticle {
      margin-top: -150px;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }
  @media (max-width: 463px) {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 8px;
      padding: 0 30px;
    }
  }
}
