@import "config";
%articleTem {
  position: relative;
  margin: 160px auto;
  text-align: center;
  img {
    width: 80%;
    margin: auto auto;
  }

  .content {
    text-align: left;
    padding-right: 20px;
    span {
      color: $priColor;
    }
  }
  .articleDetail {
    margin: 20px auto;
  }
  .image {
    padding-right: 0;
  }
}
/* articles */
.articles {
  .eventArticle {
    @extend %articleTem;
    padding-left: 60px;
  }
  .blogArticle {
    @extend %articleTem;
    padding-left: 80px;
  }
  @media (max-width: 767px) {
    .eventArticle,
    .blogArticle {
      padding-left: 0px;
      img {
        width: 60%;
      }
      .content {
        text-align: center;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;

        .blackBar {
          position: relative;
          left: 45%;
        }
      }
    }
    .blogArticle {
      img {
        margin-top: 30px;
      }
    }
  }
  @media (max-width: 911px) {
    .eventArticle,
    .blogArticle {
      img {
        // padding-top: 30px;
        // padding-left: 30px;
      }
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  @media (max-width: 587px) {
    margin-top: 220px;
    .eventArticle,
    .blogArticle {
      margin-top: -150px;
      padding-left: 0px;
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 12px;
      }
      .detailBtn {
        font-size: 80%;
        height: 15%;
        width: 15%;
      }
    }
  }
  @media (max-width: 463px) {
    margin-top: 120px;
    .eventArticle,
    .blogArticle {
      margin-top: -150px;
      padding-left: 0px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 8px;
        padding: 0 25px;
      }
      .detailBtn {
        font-size: 60%;
        // height: 20%;
        // width: 20%;
      }
    }
  }
}
