@font-face {
  font-family: "gabo_driveregular";
  src: url("gabodrive-webfont.woff2") format("woff2"),
    url("gabodrive-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// Color
$whiteColor: #fff;
$blackColor: #000;
$priColor: #ef4323;
$secColor: #ffc81e;
$terColor: #f3f1e3;
$boxShadowColor: #a0a0a033;

// Font
$priFont: "Gabo Drive";
$secFont: Times, serif;
$priFontSize: 70px;
$secFontSize: 60px;
$terFontSize: 40px;
$quaFontSize: 18px;
$mPriFontSize: 30px;
$mSecFontSize: 20px;
$mTerFontSize: 15px;
$mQuiFontSize: 10px;
