// hero image container
@import "config";
.heroImg {
  background-image: url("../img/Group\ 54.png");
  background-position: center;
  background-size: cover;
  height: 1050px;
  position: relative;
}
.heroImgContainer {
  margin: 120px 20px 10px 40px;
  #detail {
    font-size: $priFontSize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: $secFontSize;
      line-height: 1.1em;
    }
  }
  #eventImg {
    height: 80%;
    width: auto;
    margin-left: -30px;
  }
}

/* Tablets and under */
@media (max-width: 1131px) {
  .heroImg {
    height: 700px;
  }
  .heroImgContainer {
    #detail {
      h1 {
        font-size: $terFontSize;
      }
    }
    #eventImg {
    }
  }
}

/* Mobile */
@media (max-width: 871px) {
  .heroImg {
    height: 580px;
  }
  .heroImgContainer {
    #detail {
      // h1 {
      //   font-size: $terFontSize;
      //   line-height: 1.1em;
      //   margin-top: 10px;
      // }
      #eventImg {
        width: auto;
        margin-top: -50px;
        margin-left: -30px;
      }
    }
  }
}

@media (max-width: 679px) {
  .heroImg {
  }
  .heroImgContainer {
    #detail {
      margin-top: 40px;
      h1 {
        font-size: $mPriFontSize;
      }
      button {
        font-size: $mQuiFontSize;
        height: 20px;
        width: 80px;
        margin-top: -90px;
      }
    }
    #eventImg {
      height: 120%;
      width: auto;
      margin-top: -50px;
      margin-left: -10px;
    }
  }
}

@media (max-width: 476px) {
  .heroImg {
    height: 500px;
  }
  .heroImgContainer {
    #detail {
      h1 {
        font-size: 18px;
      }
    }
    #eventImg {
      height: 120%;
      width: auto;
    }
  }
}
@media (max-width: 400px) {
  .heroImg {
  }
  .heroImgContainer {
    #detail {
      h1 {
      }
    }
    #eventImg {
      height: 200px;
      width: auto;
      margin-top: -20px;
    }
  }
}
