@import "config";

.menu .row {
  margin: 100px 40px;
}
.menu .zoom {
  border-radius: 15px;
  box-shadow: 1rem 1rem 1rem -1rem $boxShadowColor;
  text-align: center;
  background-color: $terColor;
  padding: 50px;
  margin: 30px 50px;
}
.menu {
  @media (max-width: 594px) {
    .detailBtn {
      font-size: 80%;
      height: 80%;
      width: 70%;
    }
  }
  @media (max-width: 594px) {
    .detailBtn {
      font-size: 60%;
      height: 80%;
      width: 80%;
    }
  }
}
