@import "config";

.menu .row {
  margin: 100px 40px;
}
.menu .zoom {
  border-radius: 15px;
  box-shadow: 1rem 1rem 1rem -1rem $boxShadowColor;
  text-align: center;
  background-color: $terColor;
  padding: 50px;
  margin: 30px 50px;
}
